body {
  background-color: #0e0f12;
  color: #f3f3f3;
  font-family: "Geist", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: #141519;
  padding-left: 10px;
  width: 210px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
}

.side-title {
  margin-bottom: 40px;
  margin-left: 10px;
}

.side-sec-title {
  font-size: 10px;
  font-weight: 500;
  color: #575963;
}

.side-body {
  margin-left: 10px;
}

.side-bottom {
  margin-top: auto;
  /* margin-bottom: 10px; */
  margin-left: 10px;
}

.side-item:hover {
  /* !! Change this to be a border box !! */
  color: #4f6ef7;
  cursor: pointer;
}

.side-alerts {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
}

.side-alert-card {
  background-color: #e840404d;
  color: #e84040;
  border: 1px solid;
  border-color: #e84040;
  border-radius: 6px;
}

.side-alert-card-heading {
  font-weight: 400;
  margin: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.side-alert-card-body {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 10px;
}

.page-content {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 10px;
}
